profiles {
    docker {
        process.container = 'ghcr.io/rwtaylor/nf-test-seqera:latest'
        docker.enabled = true
    }

        process.container = 'docker://ghcr.io/rwtaylor/nf-test-seqera:latest'
        fusion.enabled = true
        docker.enabled = true
        docker.temp = 'auto'
    }
}
